@media screen and (max-width: 1745px) {
  header .header-main .header-right ul li {
    font-size: 12px;
  }
}
@media screen and (max-width: 1680px) {
  body .side {
    width: 60px;
    height: 60px;
    border-radius: 12.5px;
  }
  body .side p {
    display: none !important;
  }
  body .side-bar {
    right: 21px;
  }
  body .side-bar .bar {
    min-width: 60px;
  }
  body .side-bar .bar ul li {
    width: 60px;
    height: 60px;
  }
  body .side-bar .bar ul li a p {
    display: none !important;
  }
  body .side-bar p {
    display: none;
  }
  body main div .sec02 .sec02-img01 ul li:hover a .txt-ani .txt-sub .top-txt p {
    font-size: 20px;
  }
  body main div .sec02 .sec02-img01 ul li a .txt-ani {
    padding: 20px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li::before {
    width: 220px;
    height: 220px;
    padding: 0;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li .more-view {
    margin-top: 20px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li .main_con {
    font-size: 16px;
  }
  body main div .sec04 .sec04-box .right .text .hash {
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1440px) {
  body header .header-main {
    padding: 0 15px 0;
  }
  body header .header-main .header-middle > ul > li > a {
    font-size: 14px;
  }
  body header .header-main .header-right ul li a {
    font-size: 12px;
  }
  body main div .sec01 .change .sec01-text .main_title {
    font-size: 50px;
  }
  body main div .sec01 .change .sec01-text .main_con {
    font-size: 16px;
  }
  body main div .sec02 .effect .sec02-text02 {
    margin: 30px 0 10px;
  }
  body main div .sec02 .effect .sec02-text02 .sec02-sub {
    font-size: 48px;
  }
  body main div .sec02 .effect .sec02-text02 .sec02-center {
    font-size: 48px;
  }
  body main div .sec02 .effect .sec02-img01 ul li a .txt-ani .txt-sub .top-txt p {
    font-size: 16px;
  }
  body main div .sec02 .effect .sec02-img01 ul li a .txt-ani .txt-sub .bottom-txt > p {
    font-size: 26px;
    letter-spacing: -1.38px;
  }
  body main div .sec02 .effect .sec02-text03 .sec02-last {
    font-size: 15px;
  }
  body main div .mid > p {
    margin: 30px 0 10px;
    font-size: 48px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-txt .main_con {
    font-size: 16px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul > li {
    width: 15.66%;
  }
  body main div .product .product-txt .inTxt-sub {
    font-size: 48px;
    margin: 30px 0 10px;
  }
  body main div .product .product-txt .sec02-last {
    font-size: 15px;
  }
  body main div .sec05 .sec05-top .top-logo div {
    font-size: 150px;
  }
  body main div .sec05 .sec05-top .bottom-logo .inTxt .inTxt-left-btm div .inTxt-sub {
    font-size: 48px;
    margin: 30px 0 10px;
  }
  body main div .sec05 .sec05-top .bottom-logo .inTxt .inTxt-left-btm div .sec02-last {
    font-size: 15px;
  }
  body main div .sec06 .sec05-top .bottom-logo .inTxt .inTxt-left-btm > div .inTxt-sub {
    font-size: 48px;
    margin: 30px 0 10px;
  }
  body main div .sec06 .sec05-top .bottom-logo .inTxt .inTxt-left-btm > div .sec02-last {
    font-size: 15px;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .sec06-li div p:last-child {
    font-size: 24px;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .sec06-li.on div p:last-child {
    font-size: 36px;
  }
}
@media screen and (max-width: 1366px) {
  body header .header-main .header-right ul li {
    padding: 0 8px;
  }
  body main div .sec01 .change .sec01-text .main_title {
    font-size: 34px;
    letter-spacing: -4.08px;
    font-weight: 500;
    margin: 10px 0 28px;
  }
  body main div .sec01 .change .sec01-text .main_con {
    font-size: 15px;
  }
  body main div .sec02 .effect .sec02-text02 {
    margin: 15px 0 10px;
  }
  body main div .sec02 .effect .sec02-text02 > .sec02-center {
    font-size: 40px;
  }
  body main div .sec02 .effect .sec02-text02 > .sec02-sub {
    font-size: 40px;
  }
  body main div .mid > p {
    font-size: 40px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-txt .main_title {
    font-size: 50px;
    letter-spacing: -3.48px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-txt .main_con {
    font-size: 15px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li::before {
    padding: 0;
    width: 180px;
    height: 220px;
  }
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li .main_con {
    font-size: 14px;
  }
  body main div .product .product-txt .inTxt-sub {
    font-size: 40px;
  }
  body main div .sec06 .sec05-top .bottom-logo .inTxt .inTxt-left-btm > div .inTxt-sub {
    font-size: 40px;
  }
  body footer .footer-top .page .footer-site > ul li a {
    width: 60px;
    height: 60px;
    line-height: 58px;
  }
  body footer .footer-top .page .family .inBox span {
    line-height: 58px;
  }
}
@media screen and (max-width: 1280px) {
  body header .header-main .header-right {
    width: 300px;
  }
  body header .header-middle {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  body main div .mid .mid-img-box .img-box-con .contain .img-bottom > ul li::before {
    width: 150px;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .sec06-li {
    height: 450px;
    width: 30%;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .sec06-li div p:last-child {
    font-size: 18px;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .sec06-li.on div p:last-child {
    font-size: 24px;
  }
  body main div .sec06 .sec06-bottom .sec06-ul .on {
    width: 58%;
    transition: 0.3s;
  }
}
@media screen and (max-width: 989px) {
  body header .header-main .header-left {
    display: none;
  }
  body header .header-main .header-left2 {
    display: block;
  }
  body header .header-main .header-right ul {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */